.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color */
  }
  
  .register-box {
    background-color: #ffffff; /* Box background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .app-title {
    font-size: 24px; /* Adjust the font size to your preference */
    font-weight: bold;
    text-decoration: none; /* Remove the default link underline */
    color: #333; /* Change the color to your preference */
    margin-bottom: 20px; /* Add some spacing below the title */
  }