/* Home.css */
.projects-content {
  overflow-y: auto;
  display:contents;
}
/* Hide scrollbar when not needed */
.projects-content::-webkit-scrollbar {
  width: 6px;
  display: none; /* Hide by default */
}

.projects-content:hover::-webkit-scrollbar {
  display: block; /* Show when container is hovered */
}

/* Style the scrollbar */
.projects-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.projects-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}


.tasks-content {
  overflow-y: auto;
}
.tasks-content::-webkit-scrollbar {
  width: 6px;
  display: none; /* Hide by default */
}

.tasks-content:hover::-webkit-scrollbar {
  display: block; /* Show when container is hovered */
}

/* Style the scrollbar */
.tasks-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.tasks-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}


  /* Main content styles */
  .main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px); /* Subtract the navbar height */
  }
  
  .projects-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    overflow-y: hidden;
    justify-content: flex-start;
  }
  
  .projects-list {
    flex: 1;
    overflow-y: scroll;
  }
  
  .project-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .project-item:hover {
    background-color: #f0f0f0;
  }
  
  .tasks-component {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    overflow-y: scroll;
  }
  
  .task-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .task-item:hover {
    background-color: #f0f0f0;
  }

  .loading-message {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
  }

  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .main-content {
      flex-direction: column;
    }
  
    .projects-component,
    .tasks-component {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
