.notes-section {
  width: 100%;
  max-width: 400px; /* Set a max width for the notes section */
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notes-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.note {
  position: relative; 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.note p {
  margin: 0;
}

.note p:last-child {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #888;
}

.notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center; /* Add this line */
}

.add-note-button {
  background-color: #b7d7f9;
  color: rgb(53, 52, 52);
  border: none;
  border-radius: 4px;
  padding: 8px 12px; /* Adjust padding */
  font-size: 14px; /* Adjust font size */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-note-form {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.add-note-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.cancel-button,
.submit-button {
  margin-left: 10px;
  background-color: #f4f4f4;
  color: #313131;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
}

.me-text {
  color: #007bff; /* Example color for "Me" text */
  font-weight: bold;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

.edit-button:focus,
.delete-button:focus {
  outline: none;
}

.delete-button {
  background-color: #dc3545;
}

.note-buttons {
  display: none; /* Initially hide the buttons */
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 1;
}

.note:hover .note-buttons {
  display: flex; /* Show the buttons when hovering over the note */
}

.authorless-note {
  border: 1px solid #ff0000; /* Red border for authorless notes */
  background-color: #ffe5e5; /* Light red background for authorless notes */
  margin-bottom: 10px;
  padding: 10px;
}

.authorless-note-info {
  font-size: 0.9rem;
  color: #888;
}